@media print {
  .print-sheet-first {
    margin-top: 15rem;
    padding-left: 1rem;
    padding-right: 1rem;
    clear: both;
    page-break-after: always;
  }
  .print-sheet-second {
    align-items: center;
    text-align: center;
    margin-top: 10rem;
    clear: both;
    page-break-after: always;
  }
}
