@media print {
  .print-sheet-first {
    margin-top: 25rem;
    padding-left: 1rem;
    padding-right: 1rem;
    clear: both;
    page-break-after: always;
  }
  .print-sheet-second {
    align-items: center;
    text-align: center;
    margin-top: 8rem;
    clear: both;
    page-break-after: always;
  }

  .signatures {
    padding-top: 30px;
  }

  .barcode {
    display: flex;
    justify-content: center;
    align-items: middle;
  }
}
