#tf state/logs
server/terraform/.terraform/
server/terraform/.terraform/**
server/terraform/terraform.tfstate
server/terraform/terraform.tfstate.*
*.lock.*
server/terraform/crash.log
#build
server/terraform/build/
server/layer/
server/python/**/__pycache__/
server/python/**/*.pyc
*.zip

*.tfvars
.env
.venv
.pem
/secrets
